$white: #ffffff;
$main-black: #444444;
$light-green: #1bbc9b;
$dark-green: #16a086;
$grey: #999999;
$grey2: #bec3c7;
$main-background: #ecf0f1;
$tablet-width: 768px;
$desktop-width: 1200px;
$fs-large: 52px;
$fs-main: 18px;
$fs-small: 13px;
$fs-small2: 16px;
$fs-small3: 14px;
$fs-medium: 28px;
$fs-medium1: 20px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
