.header {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  word-break: break-all;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.header__menu {
  margin-left: auto;
  border: none;
  background-color: transparent;
}
.header__company-name {
  margin-left: 15px;
}
.header__heading {
  font-size: $fs-medium1;
  color: $main-black;
  font-family: "Lato Bold", "Helvetica", sans-serif;
  margin: 0;
}
.header__description {
  font-size: $fs-small3;
  color: $main-black;
  margin: 0;
}
.header__navigation-wrap {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0;
}
.header__navigation {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.hidden {
  display: none;
}
.header__navigation li {
  width: 100%;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row-reverse;
    height: 100px;
    max-width: 90%;
    margin: 0 auto;
  }
  .header__navigation-wrap {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .header__navigation {
    display: flex;
    list-style: none;
    padding: 0;
    flex-direction: row;
    word-break: keep-all;
  }

  .header__menu {
    display: none;
  }
  .header__container {
    display: flex;
  }
  .hidden {
    display: flex;
  }
}
@media (min-width: 768px) {
}
