.hero {
  min-height: 453px;
  height: 100%;
  padding: 20px 0;
  background: url("../../imgs/hero.png");
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__heading {
  color: $white;
  font-size: 40px;
  margin: 0 0 40px;
}
.hero__heading--bold {
  font-family: "Lato Bold", "Helvetica", sans-serif;
  text-align: center;
}
.hero__description {
  color: $white;
  font-size: $fs-main;
  line-height: 24px;
  max-width: 574px;
  opacity: 0.6;
  margin-bottom: 40px;
  text-align: center;
}
.hero__icon {
  text-decoration: none;
  color: $light-green;
}
.hero__icon:hover {
  color: $dark-green;
}
@media (min-width: 768px) {
  .hero__heading {
    font-size: $fs-large;
  }
}
