.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.portfolio__buttons {
  margin-bottom: 50px;
}

.portfolio__projects {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: center;
}
.portfolio__project {
  margin: 10px 0;
  padding: 10px;
  position: relative;
}
.portfolio__project:hover:after {
  content: "";
  width: 43px;
  height: 45px;
  border-radius: 23px;
  background-color: $main-black;
  position: absolute;

  top: 76px;
  left: 80px;
  z-index: 3;
  opacity: 0.5;
}
.portfolio__project:hover:before {
  content: "";
  height: 18px;
  width: 18px;
  background: url("../../imgs/icons/search.svg");
  filter: brightness(0) invert(1);
  position: absolute;

  top: 89px;
  left: 90px;
  z-index: 4;
}

.portfolio__project-wrap {
  height: 100%;
  width: 100%;
}
.portfolio__project-wrap:hover:before {
  content: "";
  height: 180px;
  width: 180px;
  background-color: $light-green;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0.6;
}
.portfolio__extra {
  display: none;
}
@media (min-width: $tablet-width) {
  .portfolio__project {
    padding: 0 30px 30px;
  }
  .portfolio__extra {
    display: inline-flex;
    padding-left: 5px;
  }
  .portfolio__project-wrap:hover:before {
    top: 0;
    left: 30px;
  }
  .portfolio__project:hover:after {
    top: 64px;
    left: 98px;
  }
  .portfolio__project:hover:before {
    top: 76px;
    left: 110px;
  }
}
@media (min-width: $desktop-width) {
  .portfolio__projects {
    max-width: 1150px;
  }
}
