.button {
  background-color: $light-green;
  font-family: "Lato Bold", "Helvetica", sans-serif;
  min-height: 37px;
  height: 100%;
  border: none;
  font-size: $fs-100;
  letter-spacing: 1px;
  color: $white;
  text-align: center;
  padding: 0 30px;
  margin-bottom: 20px;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: $dark-green;
}
.button--portfolio {
  margin: 0 10px 10px;
  padding: 0 10px;
}
.button--about {
  width: 113px;
}
.button--hero {
  text-decoration: none;
  color: $white;
  display: flex;
  align-items: center;
  font-family: "Lato Bold", "Helvetica", sans-serif;
  font-size: $fs-100;
}

.header_button {
  width: 100%;
  border-bottom: 1px solid grey;
  color: $main-black;
  font-size: $fs-100;
  padding: 0;
  margin: 0;
  background-color: transparent;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
}

.header_button:hover,
.header_button a:hover {
  background-color: $light-green;
  color: $white;
}

@media (min-width: $tablet-width) {
  .header_button {
    border-bottom: none;

    margin: 0 20px;
  }
}
