.heading {
  color: $main-black;
  font-size: $fs-medium;
  text-align: center;
  margin-top: 0;
  margin-bottom: 17px;
}
.heading--white {
  color: $white;
}
.description {
  font-size: $fs-small2;
  text-align: center;
  margin-bottom: 40px;
}
.description--white {
  color: $white;
}
