.heading {
  color: $main-black;
  font-size: $fs-600;
  text-align: center;
  margin-top: 0;
  margin-bottom: 17px;
  word-break: break-all;
}
.heading--white {
  color: $white;
}
.description {
  font-size: $fs-300;
  text-align: center;
  margin-bottom: 40px;
}
.description--white {
  color: $white;
}
